@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.about{
    height: 60vh;
    width: 80%;
    margin-top: 15%;
}

.about .main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}


.about .main-about h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    margin-bottom: -10px;
}

.about .main-about h2,p{
    padding: 10px;
    text-align: center;

}

.ab-tot{
    padding: 2%;
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.ab-i{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

@media(max-width: 500px){
    .about{
        margin-top: 30%;
    }
}

@keyframes rotate{
    25%{
        transform: rotate(90deg) scale(.25);;
    }
    50%{
        transform: (180deg) scale(.5);
    }
    75%{
        transform: rotate(270deg) scale(.75);
    }
    100%{
        transform: (360deg);
    }
}