@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.heading {
    display: block;
    text-align: left;
    margin-left: 6%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.home {
    width: 80vw;
    height: 100vh;
}

.image {
    display: flex;
    padding-top: 30%;
    padding-left: 5%;
}

#text-in {
    display: flex;
    padding: 20% 0 0 0;
    margin-left: 5%;
    width: 70%;
}

.name {
    margin: 0 100px 0 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 4em;
    font-weight: 600;
}


.dev {
    margin: 0px 120px 20px 0;
}

.image img {
    border-radius: 10%;
    margin-right: 100px;
    z-index: 1;
}

.social {
    text-align: center;
}

.social a {
    font-size: 1.8em;
    color: #000;
    transition: 500ms color;
    width: 80%;
}

.social a:hover {
    color: #fa2537;
}

.black-rect {
    position: absolute;
    width: 35%;
    height: 92%;
    top: 8%;
    left: -5%;
    background: #000;
    border-top-right-radius: 100px;
    border-top: 2px solid red;
    border-right: 2px solid red;
    z-index: -1;
}


@media(max-width: 1200px) {
    .heading {
        margin-left: 10%;
    }
}

@media(max-width: 986px) {

    .black-rect {
        height: 96%;
    }

    .dev {
        margin-left: 20%
    }

}

@media(max-width: 900px) {

    .heading {
        display: none;
    }

    .black-rect {
        display: none;
    }

    .dev {
        margin: 2px 0 0 0;
        padding: 20px 0 20px 10px;
    }

    .image img {
        margin-left: -10px;
        box-shadow: none;
        margin-top: 20%;
    }
    
    .social a{
        width: 20%;
    }
}

@media(max-width: 800px) {
    .home {
        margin-top: -20%;
    }

    .name {
        margin-left: -10px;
    }
}