@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.home{
    width: 100vw;
    height: 100vh;
}

.image{
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 5%;
}

.text{
    display: flex;
    padding: 20% 0 0 0;
    margin-left: 5%;
}

.name{
    margin: -5px 100px 0 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 4em;
    font-weight: 600;
}


.dev{
    margin: 10px 120px 20px 0;
}

.image img{
    border-radius: 10%;

    margin-right: 100px;
    z-index: 1;
}

.social{
    text-align: center;
}
.social a{
    font-size: 1.8em;
    color: #fa2538;
    transition: 500ms color;
}

.social a:hover{
    color: #fa2537;
}

.black-rect{
    position: absolute;
    width: 35%;
    height: 92%;
    top: 8%;
    left: -5%;
    background: #000;
    border-top-right-radius: 100px;
    border-top: 2px solid red;
    border-right: 2px solid red;
    z-index: -1;
}


@media(max-width: 986px){
    .black-rect{
        height: 96%;
    }
    .name, .dev{
        margin-left: 20%
    }
    .social{
        margin-left: 20%;
    }
}
@media(max-width: 900px){
    .black-rect{
        display: none;
    }
    .dev{
        margin: 2px 0 0 0;
        padding: 20px 0 20px 10px;
    }

    .image img{
        margin-left: -10px;
    }
    .image img{
        box-shadow: none;
    }
}